.recently-viewed-products > .title {
  padding-top : 3rem;
  padding-bottom : 1rem;
  color : darkblue;
}

.cards-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr); /* Exactly 4 columns */
}

@media (max-width: 1024px) {
  .cards-list { grid-template-columns: repeat(2, 1fr); } /* 2 on tablets */
}
@media (max-width: 600px) {
  .cards-list { grid-template-columns: 1fr; } /* 1 on mobile */
}

.cards-list > li {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}

.card {
  cursor: pointer;
}

.card-link {
  text-decoration : none;
  display : contents;
}

.card-details h3,p {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: -webkit-fill-available;
  display: -webkit-box;
  text-overflow: ellipsis;
  color : black;
}

.card-thumbnail {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

