.button-element {
  background-color: #fff; 
  color: #000;  
  border: 3px solid #000; 
  padding: 10px 20px;
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px; 
  border-bottom-left-radius: 0;  
  border-bottom-right-radius: 0; 
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

.button-element:hover {
  background-color: #f0f0f0;   
  color: #000;
  border-color: #000;
}