.button-element {
  background-color: #fff; 
  color: #000;  
  border: 3px solid #000; 
  padding: 10px 20px;
  border-radius: 30px 30px 0 0;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

.button-element:hover {
  background-color: #f0f0f0;   
  color: #000;
  border-color: #000;
}